:root {
  --font-mono: "Space Mono", monospace;
  --bg: #ffffff;
  --text: #111111;
  --accent: #db8454;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #111111;
    --text: #ffffff;
    --accent: #db8454;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
input,
select,
button {
  font-family: var(--font-mono);
  font-weight: 400;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  padding: 2rem;
  margin: 0;
  background: var(--bg);
  color: var(--text);
  font-size: 1rem;
  line-height: 1.5;
  word-break: break-word;
  overflow-wrap: break-word;
}

header {
  position: absolute;
  top: 0;
  background: var(--accent);
  padding: 2rem 0 0 0;
}

main {
  max-width: 750px;
  width: 100%;
  padding: 3rem 0;
}

::selection {
  background: var(--accent);
  color: var(--bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  color: var(--text);
  margin-top: 2rem;
}

h1,
h2,
h3 {
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.85rem;
}

h3 {
  font-size: 1.55rem;
}

h4 {
  font-size: 1.25rem;
  margin-bottom: 0.3rem;
}

h5 {
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

h6 {
  font-size: 0.875rem;
  margin-bottom: 0.3rem;
}

ol,
ul {
  padding-left: 2rem;
  margin-bottom: 1rem;
}

li {
  margin-top: 0.4rem;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}

a {
  color: var(--text);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  letter-spacing: 0.5px;
}

a:hover {
  color: var(--text);
}
